{% if shared_city_names %}
	<p>Hola {{ visitor_nick }}, {{ profile_nick }} comparte las siguientes ciudades favoritas contigo:</p>
	<p><b>{{ shared_city_names|join:", " }}</b></p>

	<div id="map" style="width: 500px; height: 400px"></div>
	
	<!--Based on http://code.google.com/intl/es/apis/maps/documentation/services.html#Geocoding -->
	<script src="http://maps.google.com/
	maps?file=api&amp;v=2&amp;hl=es&amp;key=ABQIAAAA3KYIs_1_2lX8vAfc9WMXVBT-DEzyxHGQxkSwOPecCISOBsSL6hQXnWR1GKJIPTaUOZxdPyUdHCZzKQ"
	type="text/javascript"></script>
	
	<script type="text/javascript">
	var map = null;
	var geocoder = null;
	//TODO: Check if there is a way to get the python list as a JS array in the proper encoding
	function load() 
	{
	  		if (GBrowserIsCompatible()) 
	  	  	{
	    		map = new GMap2(document.getElementById("map"));
	    		map.setCenter(new GLatLng(37.4419, -122.1419), 3);
	    		//map.setMapType(G_HYBRID_MAP);
	    		map.addControl(new GSmallMapControl());
	    		map.addControl(new GMapTypeControl());
	    		    		
	    		geocoder = new GClientGeocoder();
	
				if (geocoder) 
				{
					//Ask for latitude and longitude of each city, and paint a marker for each
	/*				addresses = {{shared_city_names}};
					for (i=0; i<addresses.length; i++)
					{
						geocoder.getLatLng(addresses[i],
						function(point) 
						{
							if (point) 
							{
								map.setCenter(point, 1);
								var marker = new GMarker(point);
								map.addOverlay(marker);
								marker.openInfoWindowHtml(address);
							}
						});
					}*/
	
					//Ask for latitude and longitude of each city, and paint a marker for each
					//addresses = {{shared_city_names}};
					{% for city in shared_city_names %}
					//for (i=0; i<addresses.length; i++)
					//{
						geocoder.getLatLng("{{city}}",
						function(point) 
						{
							if (point) 
							{
								map.setCenter(point, 3);
								var marker = new GMarker(point);
								//drozas: Add a marker and an event which shows the name of the city if you click on it
								map.addOverlay(marker);
								GEvent.addListener(marker, "click", function() 
										{
							  		    	this.openInfoWindowHtml("{{city}}");
										});
							}
						});
	
	
					{% endfor %}
					//}
				}
			}
	  				
	}
	
	//Code from: http://designaesthetic.com/2007/07/06/how-to-load-and-unload-google-maps-without-using-the-body-tag/
	//BEGIN NEW CODE TO AVOID USING BODY TAG FOR LOAD/UNLOAD
	
	function addLoadEvent(func) {
	  var oldonload = window.onload;
	  if (typeof window.onload != 'function') {
	    window.onload = func;
	  } else {
	    window.onload = function() {
	      if (oldonload) {
	        oldonload();
	      }
	      func();
	    }
	  }
	}
	
	addLoadEvent(load());
	
	// arrange for our onunload handler to 'listen' for onunload events
	if (window.attachEvent) {
	        window.attachEvent("onunload", function() {
	                GUnload();      // Internet Explorer
	        });
	} else {
	
	        window.addEventListener("unload", function() {
	                GUnload(); // Firefox and standard browsers
	        }, false);
	
	}
	
	// END NEW CODE TO AVOID USING BODY TAG FOR LOAD/UNLOAD
	
	</script>
	
{% else %}
	<p>Hola {{ visitor_nick }}, ninguna de las ciudades favoritas de {{ profile_nick }} coincide con las tuyas</p>
{% endif %}

	
