{% extends "index_transparentia.html" %}

{% block content %}
 
 <div class="content"> 
	<div class="item">
	
	  {% if form.errors %}
	    <p class="error">Sorry, that's not a valid username or password</p>
	  {% endif %}
	  <form action='.' method='post'>
	    <p>
	    	<label for="username">Username:</label>
	    	<input type="text" name="username" value="" id="username">
	    </p>	
	    <p>
	    	<label for="password">Password:</label>
	    	<input type="password" name="password" value="" id="password">
	    </p>
	    <p align="center">
	    	<input type="submit" value="login" />
	    </p>
	    <input type="hidden" name="next" value="{{ next|escape }}" />
	  </form>
	  
	 </div>
</div>
		
<div class="sidenav">

			<h1>Are you new?</h1>
			<ul>
				<li><a href = "{{ request.get_host }}/profiles/form">Register here!</a></li>
			</ul>

			<h1>Are you administrator?</h1>
			<ul>
				<li><a href = "{{ request.get_host }}/admin">Access to django administration panel</a></li>

			</ul>

</div>

{% endblock %}